.greenButton{
  padding: 5px;
  margin: 5px;
  background-color: #006F3C;
  color: #FFFFFF;
  border-color: #006F3C;
}

.greenButton:hover{
  background-color: #66A88A;
}

.errorDiv{
  padding: 5px;
  margin: 5px;
  border: 3px solid #BF212F;
  border-radius: 5px;
  color: #BF212F;
  background-color: #D87982;
}

.formDiv{
  padding: 5px;
}
